.body {
  background-image: linear-gradient(
    to right top,
    #bc694c,
    #ba647d,
    #9670a1,
    #667da9,
    #4e8397
  );
  width: 100vw;
  height: 100vh;
}

.backview {
  background-color: #3338;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.intro {
  width: 500vw;
  height: 100vh;
  display: flex;
  transition: all 0.25s;
}

.page {
  position: relative;
  background-color: #ddd;
  background-image: url("assets/2.png");
  background-size: 50%;

  width: 84vw;
  height: 76vh;
  margin: 12vh 8vw;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 10px 40px 10px;
  box-sizing: border-box;
  transition: all 0.25s;
}

.page h2 {
  width: 70%;
  height: 60px;
  color: #222;
  line-height: 70px;
  text-align: center;
  background-image: url("assets/10.png");
  background-size: 100% 100%;
}
.page img {
  width: max-content;
  height: 30vh;
}
.page p {
  width: 100%;
}

.page .page_footer {
  bottom: 20px;
  width: 90%;
  padding: 18px 10px 18px 30px;
  background-image: url("assets/8.png");
  background-size: 100% 100%;
  padding-bottom: 30px;
}

.page button {
  position: absolute;

  font-size: 15px;
  padding: 5px 30px;
  text-align: ce;
  width: fit-content;
  height: 35px;
  background-color: transparent;
  background-size: 100% 100%;
  border: none;
}
.page .next {
  right: 20px;
  background-image: url("assets/7.png");
}

.page .prev {
  background-image: url("assets/6.png");
}

.coeinha {
  padding-top: 70px;
  position: relative;
}

.coeinha .ears {
  top: 0;
  left: 36px;
  position: absolute;
  height: 20vh;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  padding: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 30%;
}

.dicas_count {
  background-color: #ddd;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.dicas_count div {
  display: flex;
  gap: 8px;
  align-content: center;
}
.dicas_count img {
  height: 100%;
}

.ovos_counter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.ovos_counter div {
  display: flex;
}
.ovos_counter span {
  color: white;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}
.ovos_counter span.qtd_ovos_encontrados {
  font-size: 90px;
  height: 70px;
  line-height: 52px;
  overflow: hidden;
}

.progress_bar {
  width: 70%;
  height: 8px;
  border: 2px solid white;
  border-radius: 6px;
}
.progress_bar div {
  background-color: white;
  height: 100%;
}

.ovos_perdidos {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.item_ovo {
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 60px;
}

.ovo_encontro_icone {
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.icone_ovo {
  background-image: url("assets/16.png");
  background-size: 162px 120px;
  height: 60px;
  width: 52px;
  background-position: 52px 60px;
}
.icone_key {
  height: 50px;
  padding: 5px 14px;
}

.ove_dica {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.help_button {
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.help_button img {
  height: 100%;
}
